<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Describe commit</title>
	<div th:replace = "layouts :: stylish"></div>
</head>

<body>
	
	<div th:replace = "layouts :: managerNavbar"></div>
	<br><br>
		
	<div class='container container-fluid'>
	<div align='center' >
			<h1  class='text-primary' > List of commits </h1>
		</div>
    
		<div class = 'jumbotron '>
			
			<form th:action = '@{/app/managers/manager-describe-commit}' method = 'POST' >
				
				<div align='center' ><h4 th:text="${project.title}" class='text-primary' ></h4></div>
				<fieldset>
					<div class="form-group">
						<input th:name="employeeId" th:value="${c.employeeId}" type="hidden" class="form-control col-sm-3 " placeholder="employeeId..." id="inputDefault" />
					</div>
					<div class="form-group">
						<input th:name="projectId" th:value="${c.projectId}" type="hidden" class="form-control col-sm-3 " placeholder="projectId..." id="inputDefault" />
					</div>
					<div class="form-group">
						<label class="col-form-label" for="inputDefault">Committed at</label>
						<input th:name="commitDate" th:value="${c.commitDate}" type="text" class="form-control col-sm-8 " placeholder="committed at..." id="inputDefault" readonly />
						<!--<span th:if="${#fields.hasErrors('commitDate')}" th:errors="*{commitDate}" class='badge badge-danger'></span> -->
					</div>
					<div class="form-group">
						<label class="col-form-label" for="inputDefault">First Name</label>
						<input  th:value="${c.firstName}" type="text" class="form-control col-sm-8 " placeholder="employee firstName..." id="inputDefault" readonly />
						<!--<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class='badge badge-danger'></span> -->
					</div>
					<div class="form-group">
						<label class="col-form-label" for="inputDefault">Last Name</label>
						<input  th:value="${c.lastName}" type="text" class="form-control col-sm-8 " placeholder="employee lastName..." id="inputDefault" readonly />
						<!--<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class='badge badge-danger'></span> -->
					</div>
					<div class="form-group">
						<label class="col-form-label" for="inputDefault">Employee Description</label>
						<input th:name="commitEmpDesc" th:value="${c.commitEmpDesc}" type="text" class="form-control col-sm-8 " placeholder="employee description..." id="inputDefault" readonly />
						<!--<span th:if="${#fields.hasErrors('commitEmpDesc')}" th:errors="*{commitEmpDesc}" class='badge badge-danger'></span> -->
					</div>
					<div class="form-group">
						<label class="col-form-label" for="inputDefault">Manager Old Description</label>
						<textarea th:text="${c.commitMgrDesc}" class="form-control" placeholder="manager old description..." id="exampleTextarea" rows="5" readonly ></textarea>
						<!--<span th:if="${#fields.hasErrors('commitMgrDesc')}" th:errors="*{commitMgrDesc}" class='badge badge-danger'></span> -->
					</div>
					<div class="form-group">
						<label class="col-form-label" for="inputDefault">Manager New Description</label>
						<!--<textarea th:field="*{commitMgrDesc}" th:value="${c.commitMgrDesc}" class="form-control" placeholder="manager new description..." id="exampleTextarea" rows="5" autofocus ></textarea> -->
						<textarea th:name="commitMgrDesc" class="form-control" placeholder="manager new description..." id="exampleTextarea" rows="5" autofocus ></textarea>
						<!--<span th:if="${#fields.hasErrors('commitMgrDesc')}" th:errors="*{commitMgrDesc}" class='badge badge-danger'></span> -->
					</div>
				</fieldset>
				
				<br>
				<div th:switch="${msgColour}">
					<p th:case="success"><span class="badge badge-success" th:text="${msg}"></span></p>
					<p th:case="warning"><span class="badge badge-warning" th:text="${msg}"></span></p>
					<p th:case="danger"><span class="badge badge-danger" th:text="${msg}"></span></p>
				</div>
				
				<input th:type="submit" class='btn btn-success btn-lg ' value = 'Comment' />
				
			</form>
		</div>
		
	</div>
	
	<br><br><br><br><br>
	
	<div th:replace = "layouts :: javascript"></div>
	
</body>
</html>







