<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<div th:replace = "layouts :: stylish"></div>
</head>

<body>
	
	<div th:replace = "layouts :: managerNavbar"></div>
	<br><br><br><br><br>
		
	<div class='container container-fluid'>
		
		<div class='jumbotron '>
			
			<div class="form-group">
				<label class="col-form-label" for="inputDefault">Username</label>
				<input th:value="${username}" type="text" class="form-control col-sm-8 " placeholder="this is my username..." id="inputDefault" readonly />
			</div>
			<div class="form-group">
				<label class="col-form-label" for="inputDefault">Project title</label>
				<input th:value="${project.title}" type="text" class="form-control col-sm-8 " placeholder="Enter project_title..." id="inputDefault" readonly />
			</div>
			<div class="form-group">
			<label class='col-form-label' >Assign to </label>
				<div th:each="e : ${managerSubEmployees}" class="custom-control custom-checkbox">
					<label class="custom-control-label" for="customCheck1">
						<input th:text="${e.firstName + ' ' + e.lastName}" th:value="${e.employeeId}" type="checkbox" class="custom-control-input" id="customCheck1" checked />	
					</label>
				</div>
			</div>
			
			<br>
			
			<input th:type="submit" class='btn btn-primary btn-lg ' value = 'Assign' />
			
		</div>
		
	</div>
	
	<br><br><br><br><br>
	
	<div th:replace = "layouts :: javascript"></div>
	
</body>
</html>







