<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>All locations</title>
	<div th:replace = "layouts :: stylish"></div>
</head>

<body>
	
	<div th:replace = "layouts :: adminNavbar"></div>
	<br><br><br><br><br>
		
	<div class='container container-fluid'>
		
		<h4><a th:href="@{/app/admins/locations/admin-locations-add}">Add a new location</a></h4>
		
		<div th:switch="${locations}">
	    	<h2 th:case="null">No Records yet!</h2>
	        <div th:case="*">
 	            <!--<h2 th:text = '${size}' ></h2>  <br> -->
	            <table class="table table-striped table-hover ">
	                <thead>
	                    <tr>
	                    	<th>Address</th>
	                        <th>Postal Code</th>
	                        <th>City</th>
	                        <th class='text-warning'><i>Edit location</i></th>
	                        <th class='text-danger' ><i>Delete location</i></th>
	                    </tr>
	                </thead>
					<tbody>
		                <tr th:each = "l : ${locations}">
							<td th:text="${l.adr}"></td>
							<td th:text="${l.postalCode}"></td>
							<td th:text="${l.city}"></td>
							<td><a class='btn btn-outline-warning' th:href="@{/app/admins/locations/admin-locations-edit(locationId=${l.locationId})}">Edit</a></td>
							<td><a class='btn btn-outline-danger' th:href="@{/app/admins/locations/admin-locations-delete(locationId=${l.locationId})}" onClick="if (!(confirm('Do you confirm you want DELETE this location ?'))) return false" >Delete</a></td>
		                </tr>
	            	</tbody>
	        	</table>
	    	</div>
		</div>
		
	</div>
	
	<br><br><br><br><br>
	
	<div th:replace = "layouts :: javascript"></div>
	
</body>
</html>







