<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<div th:replace = "layouts :: stylish"></div>
</head>

<body>
	
	<div th:replace = "layouts :: adminNavbar"></div>
	<br><br><br><br><br>
	
	<div class='container container-fluid'>
		
		<form class='jumbotron' th:object='${department}' th:action='@{/app/admins/departments/admin-departments-add}' method='POST'>
			<fieldset>
				<div class="form-group">
					<label class="col-form-label" for="inputDefault">Department Name</label>
					<input th:field='*{departmentName}' type="text" class="form-control col-sm-8" placeholder="Enter departmentName..." id="inputDefault" />
					<span class='text-danger' th:if="${#fields.hasErrors('departmentName')}" th:errors="*{departmentName}"></span>
				</div>
				<div class="form-group">
					<label for="exampleSelect1">Location</label>
					<select  th:name="locationId" class="custom-select " id="exampleSelect1">
 						<!--<option selected value='' >---------- Select item here ----------</option> -->
						<option th:each="l : ${listLocation}" th:text="${l.adr + ', ' + l.postalCode + ', ' + l.city}" th:value="${l.locationId}"  ></option>
					</select>
 					<!--<span class='text-danger' th:if="${#fields.hasErrors('location.locationId')}" th:errors="*{location.locationId}" class='badge badge-danger' ></span> -->
				</div>
			</fieldset>
			<br>
			<div th:switch="${msgColour}">
				<p th:case="success">
					<span class="badge badge-success" th:text="${msg}"></span>
				</p>
				<p th:case="danger">
					<span class="badge badge-danger" th:text="${msg}"></span>
				</p>
			</div>
			
			<input type='submit' class='btn btn-success btn-lg ' value='Add Department' />
			
		</form>
		
	</div>
	
	<br><br><br><br><br>
	
	<div th:replace = "layouts :: javascript"></div>
	
</body>
</html>







