
<app-navbar></app-navbar>

<br><br><br><br>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-pattern">
        <div class="card-body">
          <div class="float-right">
            <i class="fa fa-archive text-primary h4 ml-3"></i>
          </div>
          <h5 class="font-size-20 mt-0 pt-1">24</h5>
          <p class="text-muted mb-0">Total Projects</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-pattern">
        <div class="card-body">
          <div class="float-right">
            <i class="fa fa-th text-primary h4 ml-3"></i>
          </div>
          <h5 class="font-size-20 mt-0 pt-1">18</h5>
          <p class="text-muted mb-0">Completed Projects</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-pattern">
        <div class="card-body">
          <div class="float-right">
            <i class="fa fa-file text-primary h4 ml-3"></i>
          </div>
          <h5 class="font-size-20 mt-0 pt-1">06</h5>
          <p class="text-muted mb-0">Pending Projects</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group mb-0">
              <label>Search</label>
              <div class="input-group mb-0">
                <input type="text" class="form-control" placeholder="Search..."
                  aria-describedby="project-search-addon" />
                <div class="input-group-append">
                  <button class="btn btn-danger" type="button" id="project-search-addon"><i
                      class="fa fa-search search-icon font-12"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive project-list">
            <table class="table project-table table-centered table-nowrap">
              <thead>
                <tr>
                  <th scope="col">Project</th>
                  <th scope="col">Start Date</th>
									<th scope="col">End Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Team</th>
                  <th scope="col">Progress</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let data of employeeProjectDatas" >
                <tr>
                  <td>{{data?.title}}</td>
                  <td>{{data?.startDate | date}}</td>
									<td>{{data?.endDate | date}}</td>
                  <td>
                    <span class="text-primary font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i> {{data?.status}} </span>
                  </td>
                  <td>
                    <div class="team">
                      <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Neil Wing">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle avatar-xs"
                          alt="" />
                      </a>

                      <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Stanley Barber">
                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle avatar-xs"
                          alt="" />
                      </a>
                      <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Roger Drake">
                        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="rounded-circle avatar-xs"
                          alt="" />
                      </a>

                      <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Jack Krier">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle avatar-xs"
                          alt="" />
                      </a>
                    </div>
                  </td>
                  <td>
                    <p class="mb-0">Progress<span class="float-right">41%</span></p>

                    <div class="progress mt-2" style="height: 5px;">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 41%;" aria-valuenow="41"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>

                  <td>
                    <div class="action">
                      <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                      <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Close"> <i class="fa fa fa-remove h5 m-0"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- end project-list -->

          <div class="pt-3">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<br><br>

<app-footer></app-footer>

