<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<div th:replace = "layouts :: stylish"></div>
</head>

<body>
	
	<div th:replace = "layouts :: adminNavbar"></div>
	<br><br><br><br><br>
		
	<div class='container container-fluid'>
		
		<form class='jumbotron' th:object='${employee}' th:action='@{/app/admins/employees/admin-employees-edit}' method='POST'>
			<fieldset>
				<div class="form-group">
					<input th:field='*{employeeId}' type="hidden" class="form-control col-sm-8" placeholder="Enter employeeId..." id="inputDefault" />
 					<!--<span class='text-danger' th:if="${#fields.hasErrors('employeeId...')}" th:errors="*{employeeId...}"></span> -->
				</div>
				<div class="form-group">
					<label class="col-form-label" for="inputDefault">Firstname</label>
					<input th:field='*{firstName}' type="text" class="form-control col-sm-8" placeholder="Enter firstName..." id="inputDefault" />
					<span class='text-danger' th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
				</div>
				<div class="form-group">
					<label class="col-form-label" for="inputDefault">Lastname</label>
					<input th:field='*{lastName}' type="text" class="form-control col-sm-8" placeholder="Enter lastName..." id="inputDefault" />
					<span class='text-danger' th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
				</div>
				<div class="form-group">
					<label class="col-form-label" for="inputDefault">Email</label>
					<input th:field='*{email}' type="email" class="form-control col-sm-8" placeholder="Enter email..." id="inputDefault" />
					<span class='text-danger' th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</div>
				<div class="form-group">
					<label class="col-form-label" for="inputDefault">Phone</label>
					<input th:field='*{phone}' type="text" class="form-control col-sm-8" placeholder="Enter phone..." id="inputDefault" />
					<span class='text-danger' th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
				</div>
				<!-- <div class="form-group">
					<label class="col-form-label" for="inputDefault">Hiredate</label>
					<input th:name="hiredate" th:value="${#temporals.format(employee.hiredate, 'dd/MM/yyyy')}" type="date" class="form-control col-sm-8" placeholder="Enter hiredate..." id="inputDefault" />
					<span class='text-danger' th:if="${#fields.hasErrors('hiredate')}" th:errors="*{hiredate}"></span>
				</div> -->
				<div class="form-group">
					<label class="col-form-label" for="inputDefault">Job</label>
					<input th:field='*{job}' type="text" class="form-control col-sm-8" placeholder="Enter job..." id="inputDefault" />
					<span class='text-danger' th:if="${#fields.hasErrors('job')}" th:errors="*{job}"></span>
				</div>
				<div class="form-group">
					<label class="col-form-label" for="inputDefault">Salary</label>
					<input th:field='*{salary}' type="number" min='500' class="form-control col-sm-8" placeholder="Enter salary..." id="inputDefault" />
					<span class='text-danger' th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span>
				</div>
				<div class="form-group">
					<label for="exampleSelect1">Manager</label>
					<select  th:field='*{manager}' class="custom-select " id="exampleSelect1">
 						<!--<option selected value='' >---------- Select item here ----------</option> -->
						<option th:each="m : ${listManager}" th:selected="m.employeeId == employee.employeeId" th:text="${m.firstName + ' ' + m.lastName}" th:value="${m.employeeId}"  ></option>
					</select>
					<span th:if="${#fields.hasErrors('manager')}" th:errors="*{manager}"  class='text-danger' ></span>
				</div>
				<!-- <div class="form-group">
					<label for="exampleSelect1">Department</label>
					<select  th:field='*{department}' class="custom-select " id="exampleSelect1">
						<option selected value='' >---------- Select item here ----------</option>
						<option th:each="d : ${listDepartment}" th:text="${d.departmentName}" th:value="${d.departmentId}"  ></option>
					</select>
					<span th:if="${#fields.hasErrors('department')}" th:errors="*{department}"  class='text-danger' ></span>
				</div> -->
				<div class="form-group">
					<input th:field='*{credential.credentialId}' type="hidden" class="form-control col-sm-8" placeholder="Enter credentialId..." id="inputDefault" />
					<span class='text-danger' th:if="${#fields.hasErrors('credential.credentialId')}" th:errors="*{credential.credentialId}"></span>
				</div>
				<div class="form-group">
					<label class="col-form-label" for="inputDefault">Username</label>
					<input th:field='*{credential.username}' type="text" class="form-control col-sm-8" placeholder="Enter username..." id="inputDefault" />
					<span class='text-danger' th:if="${#fields.hasErrors('credential.username')}" th:errors="*{credential.username}"></span>
				</div>
				<div class="form-group">
					<label class="col-form-label" for="inputDefault">Password</label>
					<input th:field='*{credential.password}' type="password" class="form-control col-sm-8" placeholder="Enter password..." id="inputDefault" autofocus />
					<span class='text-danger' th:if="${#fields.hasErrors('credential.password')}" th:errors="*{credential.password}"></span>
				</div>
				<!-- <fieldset class="form-group">
					<label class="col-form-label" for="inputDefault">isActive?</label>
					<div class="form-check">
						<label class="form-check-label">
						<input th:field="*{credential.enabled}" th:value="*{credential.enabled}" th:checked="*{credential.enabled}" type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" > Enable
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
						<input th:field="*{credential.enabled}" th:value="*{!credential.enabled}" th:checked="*{credential.enabled}" type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" > Disable
						</label>
					</div>
				</fieldset> -->
				<div class="form-group">
					<label for="exampleSelect1">Role</label>
					<select  th:field='*{credential.role}' class="custom-select " id="exampleSelect1">
 						<!--<option selected value='' >---------- Select item here ----------</option> -->
						<option th:each="r : ${roles}" th:selected="${r.toString() == employee.credential.role}" th:text="${r}" th:value="${r.toString() == 'EMPLOYEE'} ? 'EMP' : (${r.toString() == 'MANAGER'} ? 'MGR' : 'ADMIN')"  ></option>
					</select>
					<span th:if="${#fields.hasErrors('credential.role')}" th:errors="*{credential.role}"  class='text-danger' ></span>
				</div>
			</fieldset>
			<br>
			<div th:switch="${msgColour}">
				<p th:case="success">
					<span class="badge badge-success" th:text="${msg}"></span>
				</p>
				<p th:case="danger">
					<span class="badge badge-danger" th:text="${msg}"></span>
				</p>
			</div>
			
			<input type='submit' class='btn btn-success btn-lg ' value='Edit Employee' />
			
		</form>
		
	</div>
	
	<br><br><br><br><br>
	
	<div th:replace = "layouts :: javascript"></div>
	
</body>
</html>







