<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<div th:replace = "layouts :: stylish"></div>
</head>

<body>
	
	<div th:replace = "layouts :: adminNavbar"></div>
	<br><br><br><br><br>
		
	<div class='container container-fluid'>
		
		<h4><a th:href="@{/app/admins/employees/admin-employees-list}">All Employees</a></h4>
		<br>
		
		<div th:switch="${userCredential}">
	    	<h2 th:case="null">No Records yet!</h2>
	        <div th:case="*">
 	            <!--<h2 th:text = '${size}' ></h2>  <br> -->
	            <table class="table table-striped table-hover ">
	                <thead>
	                    <tr>
	                    	<th>Username</th>
	                    	<th>Enabled</th>
	                    	<th>Role</th>
 	                    	<!--<th class='text-info'>Employee info</th> -->
 	                        <!--<th class='text-warning'><i>Edit credentials</i></th> -->
 	                        <!--<th class='text-danger' ><i>Delete credentials</i></th> -->
	                    </tr>
	                </thead>
					<tbody>
		                <tr>
							<td th:text="${userCredential.username}"></td>
							<td th:text="${userCredential.enabled}"></td>
							<td th:text="${userCredential.role}"></td>
 							<!--<td><a class='btn btn-outline-info' th:href="@{/app/admins/employees/admin-employees(employeeId=${e.userCredential.employeeId})}" >Employee</a></td> -->
 							<!--<td><a class='btn btn-outline-warning' th:href="@{/app/admins/employees/admin-employees-edit(employeeId=${e.employeeId})}">Edit</a></td> -->
 							<!--<td><a class='btn btn-outline-danger' th:href="@{/app/admins/employees/admin-employees-delete(employeeId=${e.employeeId})}" onClick="if (!(confirm('Do you confirm you want DELETE this employee ?'))) return false" >Delete</a></td> -->
		                </tr>
	            	</tbody>
	        	</table>
	    	</div>
		</div>
		
	</div>
	
	<br><br><br><br><br>
	
	<div th:replace = "layouts :: javascript"></div>
	
</body>
</html>







