
body {
  background: #f5f5f5;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  color: #4c5667;
  overflow-x: hidden !important;
  padding-top: 40px;
}

.message-box h1 {
  color: #252932;
  font-size: 98px;
  font-weight: 700;
  line-height: 98px;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}



