
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/ng" class="navbar-brand" style="color:white;">Project-Tracking-System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="" class="nav-link" >Add Employee </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input ngModel #key="ngModel" type="search" name="key" id="searchName"
        class="form-control mr-sm-2" placeholder="Search employees..." required>
    </form>
  </div>
</nav>


