<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	
	<div th:fragment = "stylish">
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css"
			integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK"
			crossorigin="anonymous" />
	</div>
	
	
	
	<div th:fragment = "employeeNavbar" >
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top ">
			<a class="navbar-brand" th:href="@{/app/employees/employee-index}">Project Tracker</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarColor01" aria-controls="navbarColor01"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
 					<!--<li class="nav-item active"><a class="nav-link" th:href="@{/app/employees/employee-index}">Home<span class="sr-only">(current)</span></a></li> -->
					<li class="nav-item"><a class="nav-link" th:href="@{/app/employees/employee-info}">Account info</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/app/employees/employee-team}">My Team members</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/app/employees/employee-index}">Assigned projects & Commits</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/swagger-ui.html}">About</a></li>
				</ul>
				<div class="my-2 my-lg-0">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link my-2 my-sm-0" th:href="@{/logout}"> Logout</a></li>
						<!-- <li class="nav-item"><a class="nav-link my-2 my-sm-0" th:href="@{/}">Register</a></li> -->
					</ul>
				</div>
			</div>
		</nav>
	</div>
	
	<div th:fragment = "managerNavbar" >
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top ">
			<a class="navbar-brand" th:href="@{/app/managers/manager-index}">Project Tracker</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarColor01" aria-controls="navbarColor01"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
 					<!--<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home<span class="sr-only">(current)</span></a></li> -->
					<li class="nav-item"><a class="nav-link" th:href="@{/app/managers/manager-info}">Account info</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/app/managers/manager-team}">My Team members</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/app/managers/manager-index}">My projects</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/app/managers/manager-search-commits}">Search commit by commitDate</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/swagger-ui.html}">About</a></li>
				</ul>
				<div class="my-2 my-lg-0">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link my-2 my-sm-0" th:href="@{/logout}">Logout</a></li>
						<!-- <li class="nav-item"><a class="nav-link my-2 my-sm-0" th:href="@{/}">Register</a></li> -->
					</ul>
				</div>
			</div>
		</nav>
	</div>
	
	<div th:fragment = "adminNavbar" >
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top ">
			<a class="navbar-brand" th:href="@{/app/admins/admin-index}">Project Tracker</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarColor01" aria-controls="navbarColor01"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
 					<!--<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home<span class="sr-only">(current)</span></a></li> -->
					<li class="nav-item"><a class="nav-link" th:href="@{/app/admins/admin-info}">Account info</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/swagger-ui.html}">About</a></li>
				</ul>
				<div class="my-2 my-lg-0">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link my-2 my-sm-0" th:href="@{/logout}">Logout</a></li>
						<!-- <li class="nav-item"><a class="nav-link my-2 my-sm-0" th:href="@{/}">Register</a></li> -->
					</ul>
				</div>
			</div>
		</nav>
	</div>
	
	
	
	
	<div th:fragment = "javascript">
		<hr><hr>
		<footer>
			<div class="container">
				<ul class="list-unstyled list-inline text-center py-2">
					<li class="list-inline-item"><h6 class="mb-1">More informations</h6></li>
					<li class="list-inline-item"><a th:href="@{/swagger-ui.html}" class="btn btn-outline-white btn-rounded">About us!</a></li>
				</ul>
			</div>
			<div class="footer-copyright text-center py-3">
				Source : <a href='https://github.com/SelimHorri/Project-Tracking-System' >GitHub Repository</a>
			</div>
	
		</footer>
		<hr><hr>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</div>
	

</html>






