<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<div th:replace = "layouts :: stylish"></div>
</head>

<body>
	
	<div th:replace = "layouts :: employeeNavbar"></div>
	<br><br><br><br><br>
		
	<div class='container container-fluid'>
		
		<div class='container container-fluid'>
			
			<div align='center' >
				<h4><i>Logged in as :</i></h4> &nbsp; <h2 class='text-warning' th:text="${fnameAndLname}" ></h2>
			</div>

			<br><br>
			
			<div th:switch="${employeeProjectData}">
		    	<h2 th:case="null">No Records yet!</h2>
		        <div th:case="*">
		            <h2 th:text = '${size}' ></h2>  <br>
		            <table class="table table-striped table-hover ">
		                <thead>
		                    <tr>
		                    	<th>Project title</th>
		                        <th>Start_Date</th>
		                        <th>End_Date</th>
		                        <th>Project status</th>
		                        
		                        <th class='text-warning'><i>=>COMMIT</i></th>
		                    </tr>
		                </thead>
		                <tbody>
		                <tr th:each = "e : ${employeeProjectData}">
		                    <td th:text="${e.title}"></td>
		                    <td th:text="${e.startDate}"></td>
		                    <td th:text="${e.endDate}"></td>
		                    <td th:text="${e.status}"></td>
		                    <td><a class='btn btn btn-warning' th:href="@{/app/employees/employee-commit(projectId=${projectId})}">New Commit?</a></td>
		                </tr>
		            </tbody>
		        </table>
		    </div>      
 		    <!--<h4><a th:href="@{/app/employees/employees-add}">Add a new employee</a></h4> -->
		</div>

	</div>
		
		<!-- 
		<div class="col-md-4">
			<canvas id="myPieChart" height="50" width="50"></canvas>
			
			<script>
				var chartData = "[[${projectStatusCnt}]]"
			</script>
			
		</div>
		-->
		
	</div>
	
	<br><br><br><br><br>
	
	<div th:replace = "layouts :: javascript"></div>
	<script type="text/javascript" th:src="@{js/myChart.js}"></script>
	
</body>
</html>







