<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>employee add commits</title>
	<div th:replace = "layouts :: stylish"></div>
</head>

<body>
	
	<div th:replace = "layouts :: employeeNavbar"></div>
	<br><br><br><br><br>
		
	<div class='container container-fluid'>
		
		<form class='jumbotron' th:action = '@{/app/employees/employee-add-commit}' method = 'POST' >
			<fieldset>
				<div class="form-group">
					<label class="col-form-label" for="inputDefault">Username</label>
					<input th:value="${c.username}" type="text" class="form-control col-sm-8 " placeholder="Enter username..." id="inputDefault" readonly />
 					<!--<span th:if="${#fields.hasErrors('empno')}" th:errors="*{empno}"></span> -->
				</div>
				<div class="form-group">
					<label class="col-form-label" for="inputDefault">Project title</label>
					<input th:value="${c.title}" type="text" class="form-control col-sm-8 " placeholder="Enter project title..." id="inputDefault" readonly />
 					<!--<span th:if="${#fields.hasErrors('ename')}" th:errors="*{ename}"></span> -->
				</div>
				<div class="form-group">
 					<!--<label class="col-form-label" for="inputDefault">Project id</label> -->
					<input th:value="${c.projectId}" th:name="projectId" type="hidden" class="form-control col-sm-8 " placeholder="Enter project title..." id="inputDefault" readonly />
 					<!--<span th:if="${#fields.hasErrors('ename')}" th:errors="*{ename}"></span> -->
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Commit Description</label>
					<textarea th:name="commitEmpDesc"  class="form-control" placeholder="Enter your new Commit Description..." id="exampleTextarea" rows="5" autofocus ></textarea>
				</div>
			</fieldset>
			
			<br>
			<div th:switch="${msgColour}">
				<p th:case="success"><span class="badge badge-success" th:text="${msg}"></span></p>
				<p th:case="danger"><span class="badge badge-danger" th:text="${msg}"></span></p>
			</div>
			
			<input th:type="submit" class='btn btn-success btn-lg ' value = 'Commit' />
			
		</form>
		
	</div>
	
	<br><br><br><br><br>
	
	<div th:replace = "layouts :: javascript"></div>
	
</body>
</html>







