<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<div th:replace = "layouts :: stylish"></div>
</head>

<body>
	
	<div th:replace = "layouts :: employeeNavbar"></div>
	<br><br><br><br><br>
		
	<div class='container container-fluid'>
		
		<div class="col-md-4">
			<canvas id="myPieChart" height="50" width="50"></canvas>
			
			<script>
				var chartData = "[[${projectStatusCnt}]]"
			</script>
			
		</div>
		
	</div>
	
	<br><br><br><br><br>
	
	<div th:replace = "layouts :: javascript"></div>
	<script type="text/javascript" th:src="@{js/myChart.js}"></script>
	
</body>
</html>







