<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>employee show commits</title>
	<div th:replace = "layouts :: stylish"></div>
</head>

<body>
	
	<div th:replace = "layouts :: employeeNavbar"></div>
	<br><br><br><br><br>
	
	<div class='container container-fluid'>
		
		
		<div align='center' >
			<h1 class='text-info' > list of commits :</h1>
		</div>
		<br><br>
		
		<div class='jumbotron ' >
			
			<div class='col-sm-5' ><h3><a th:href="@{/app/employees/employee-add-commit(projectId=${project.projectId})}" >Add new commit?</a></h3></div>
			
			<div align='center' th:each = "c : ${commits}">
				
				<div class = 'jumbotron '>
					
					<div class="card border-success mb-9  " style="max-width: 50rem;">
						<div class="card-header"><h4 class='text-danger' th:text="${project.title}" ></h4></div>
						<div align="left">
							<div class="card-body card-header">
								<table>
									<thead></thead>
									<tbody>
										<tr><td><h6 class='text-info' >Committed at : </h6></td><td><h5 th:text="${c.commitDate}"></h5></td> </tr>
										<tr><td><h6 class='text-info' >By : </h6></td><td><h5 th:text="${c.firstName + ' ' + c.lastName}"></h5></td> </tr>
										<tr><td><h6 class='text-info' >My Description : </h6></td><td><h5 th:text="${c.commitEmpDesc}"></h5></td></tr>
										<tr><td><h6 class='text-info' >Manager Description : </h6></td><td><h5 th:text="${c.commitMgrDesc}"></h5></td></tr>
									</tbody>
								</table>
	  							<!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
							</div>
						</div>
					</div>
					
					
				</div>
				
				<hr>
				
			</div>
		</div>
		
	</div>
	
	<br><br><br><br><br>
	
	<div th:replace = "layouts :: javascript"></div>
	
</body>
</html>







