<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>credential edit</title>
	<link th:replace = "layouts :: stylish" />
</head>

<body>
	
	<div th:switch="${account}">
		<div th:case="EMPLOYEE"><div th:replace = "layouts :: employeeNavbar"></div></div>
		<div th:case="MANAGER"><div th:replace = "layouts :: managerNavbar"></div></div>
		<div th:case="ADMIN"><div th:replace = "layouts :: adminNavbar"></div></div>
	</div>
	<br><br><br><br><br>
	
	<div class='container container-fluid'>
		
		<form class='form' th:action = '@{/app/credentials/credential-edit}' method = 'POST' >
			<fieldset>
				
				
				<div class=' ' >
					<div class="form-group">
					  <label class="col-form-label" for="inputDefault">Username</label>
					  <input th:name="username" th:value="${username}" type="text" class="form-control col-sm-3" placeholder="Enter username..." id="inputDefault" />
	 				  <!--<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span> -->
					</div>
				</div>
				
				<div class=' ' >
					<div class="form-group">
					  <label class="col-form-label" for="inputDefault">New password</label>
					  <input th:name="pwd1" type="password" class="form-control col-sm-3" placeholder="Enter password..." id="inputDefault" />
					  <!--<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->
					</div>
				</div>
				
				<div class=' '>
					<div class="form-group">
					  <label class="col-form-label" for="inputDefault">Confirm password</label>
					  <input th:name="pwd2" type="password" class="form-control col-sm-3" placeholder="Confirm password..." id="inputDefault" />
					  <!--<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->
					</div>
				</div>
				
				<br>
				<div class=' ' >
					<div th:switch="${msgColour}">
						<p th:case="success"><span class="badge badge-success" th:text="${msg}"></span></p>
						<p th:case="danger"><span class="badge badge-danger" th:text="${msg}"></span></p>
					</div>
					
					<input type='submit' class='btn btn-info btn-lg' value = 'Update' />
				</div>
				
				
			</fieldset>
			
			
			
		</form>
		
	</div>
	
	<br><br><br><br><br>
	
	<div th:replace = "layouts :: javascript"></div>
	
</body>
</html>






