<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>credential edit</title>
	<link th:replace = "layouts :: stylish" />
</head>

<body>
	
	<div th:replace = "layouts :: navbar"></div>
	<br><br><br><br><br>
		
	<div class='container container-fluid'>
		
		<form th:object = '${userCredential}' th:action = '@{/app/employees/employees-edit}' method = 'POST' >
			<fieldset>
			
				<div class="form-group">
				  <label class="col-form-label" for="inputDefault">Username</label>
				  <input th:field = '*{username}' type="text" class="form-control col-sm-3" placeholder="Enter username..." id="inputDefault" />
				  <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				</div>
				
				<div class="form-group">
				  <label class="col-form-label" for="inputDefault">Password</label>
				  <input th:field = '*{password}' type="password" class="form-control col-sm-3" placeholder="Enter password..." id="inputDefault" />
				  <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				</div>
				
			</fieldset>
			
			<br>
			<div th:switch="${msgColour}">
				<p th:case="success"><span class="badge badge-success" th:text="${msg}"></span></p>
				<p th:case="danger"><span class="badge badge-danger" th:text="${msg}"></span></p>
			</div>
			
			<input type='submit' class='btn btn-info btn-lg' value = 'Update' />
			
		</form>
		
	</div>
	
	
	
	<br><br><br><br><br>
	
</body>
</html>






