<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<div th:replace = "layouts :: stylish"></div>
</head>

<body>
	
	<br><br><br><br><br><br>
		
	<div class='container container-fluid'>
		
		<div align='center' class="jumbotron">
			<br><br><br>
			<h1 class="display-3">Welcome Teams!</h1>
			<br>
			<hr class="my-4">
			<br>
			<p class="lead">
				<table></table>
				<a class="btn btn-success btn-lg " th:href="@{/app/employees/employee-index}" role="button"><strong>Are you an Employee ?</strong></a> &nbsp;&nbsp;&nbsp;
				<a class="btn btn-success btn-lg " th:href="@{/app/managers/manager-index}" role="button"><strong>Are you a Manager ?</strong></a>
			</p>
			<br><br><br>
		</div>
		
	</div>
	
	<br><br><br><br><br>
	
	<div th:replace = "layouts :: javascript"></div>
	
</body>
</html>







